            <div>
                        <img src="{{ item.img }}" alt="{{ item.name }}">
                        <span class="blog-post__author">{{ item.author }}</span> |
                        <span class="blog-post__date">{{ item.date }}</span> |
                        <span class="label drop">{{ item.label }}</span>
                        <h3 class="blog-post__title">{{ item.name }}</h3>
                        <p class="blog-post__text">{{ item.text }}</p>
                        <button class="button button--link">Read more</button>
            </div>