<li>
  <article class='card'>
    <img src='{{ item.img }}' alt='{{ item.name }}'>
    <span class='card__price'>{{ item.price }}</span>
    <span class='label new'>{{ item.label }}</span>
    <p class='card__name'>{{ item.name }}</p>
  </article>
</li>
